name: build pages

on:
  push:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          yarn install
          yarn docs:build
      - name: Commit files
        run: |
          cd docs/.vuepress/dist
          git config --global user.email "29306733+oldshensheep@users.noreply.github.com "
          git config --global user.name "oldshensheep"
          git init
          git add -A
          git commit -m 'deploy'
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          repository: oldshensheep/oldshensheep.github.io
          github_token: ${{ secrets.BLOG_PAT }}
          branch: gh-pages
          directory: docs/.vuepress/dist
          force: true
